body{font: 30px/1.4em 'ABeeZee',sans-serif;background-color: #e3e3e3;letter-spacing: -0.02em;color:#333;overflow: hidden;min-width:720px;min-height: 400px}
h2{font-size: 26px;color:#999;margin-bottom: 25px;border-bottom: solid 1px #CCC;display: inline-block}
h4{font-size:18px;line-height: 1.5em;font-weight: bold;color:#27B; margin-bottom: 0.4em; margin-top: 1.7em;}
p{margin-bottom:35px;}
a{color:#29F;text-decoration: none}
a:hover{text-decoration: underline}
b{font-weight: bold;color:#27B;}
.align-center{text-align: center}
.no-margin{margin:0;}
.body *:not(input){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden{display:none}
.align-center{text-align: center}
.no-margin{margin:0}
.reference{font-size: 13px;line-height: 1.4em;color:#666}
/* FRAMES */
.frame{position:fixed;top:0;bottom: 0;left:0;right:0;overflow: hidden}
.frame.opaque{background-color: #e3e3e3}
#presentation{z-index: 2000}
#presentation .modal{top:50%;overflow: visible;}
.meta{z-index: 1000}
#application{z-index: 0}

/* APPLICATION */
/* App Sections */
.app-section{position: absolute;top:0;bottom:0;overflow: hidden}
#photo-section{left:0;width:600px;min-width: 520px}
#paint-section{left:600px;right:0;background-color: #FFF;box-shadow: 0 3px 6px rgba(0,0,0,.4)}
.left-handed #photo-section{left:auto;right:0}
.left-handed #paint-section{left:0;right:600px}
.own-app #photo-section{left:0;right:0;width:auto}
.own-app #paint-section{display: none}
canvas.to-draw{cursor:crosshair}
#next-sketch{display:none;position:absolute;z-index:380;top:50%;left:50%;width:250px;background-color: rgba(255,255,255,.8);border:solid 4px #CCC;border-radius: 10px;margin:-25px 0 0 -125px;text-align: center;box-shadow: 0 2px 4px rgba(0,0,0,.2);padding:0 15px}
#presentation-img{position:absolute;top:-65px;right:-147px}
#presentation .modal .modal-body {right: 200px}
#presentation .modal h1{font-size: 45px;line-height: 1.2em;margin-bottom: 1.5em;letter-spacing: -0.02em;}
#presentation .modal p{font-size: 14px;line-height: 1.4em;margin-bottom: 1.5em}
.photo-container{position: absolute;z-index:15;top:50px;left:20px;right:20px;bottom:0;opacity: 0;	transition : opacity .3s;-webkit-transition : opacity .3s;-moz-transition : opacity .3s;text-align: center;padding-top: 20px}
.photo-container.visible{opacity:1;z-index:16}
.photo-container img{display: inline-block;border:3px solid #FFF;box-shadow: 0 3px 6px rgba(0,0,0,.4);max-width:100%;width:auto;height: auto}
.photo-container .photo-info{display:block;padding:0 20px;font-size: 14px;line-height: 14px;position: absolute;top:0;left:0;right:0;}
/* Modal */
.modal{position:absolute;top:-450px;left:50%;width:1220px;height:680px;margin:-340px 0 0 -610px;background-color: #FFF;border-radius: 20px;box-shadow: 0 4px 15px rgba(0,0,0,.6);overflow:hidden;transition: top .5s;-webkit-transition: top .5s;-moz-transition: top .5s}
.modal.visible{top:50%}
.modal-body{position:absolute;top:30px;left:60px;bottom:30px;right:60px;overflow:auto}
.modal.small{width:500px;height:350px;margin:-175px 0 0 -250px;border-radius: 10px;box-shadow: 0 2px 10px rgba(0,0,0,.5)}
.modal.small .modal-body{top:20px;left:40px;bottom:30px;right:40px}
.dimmer{position: absolute;top: 0;left: 0;right: 0;background-color: rgba(255,255,255,.5);bottom: auto;opacity: 0;transition: opacity .3s;-webkit-transition: opacity .3s;-moz-transition: opacity .3s}
.dimmer.visible{bottom: 0;opacity: 1}
.modal.fixsize{bottom:102%;transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s}
.modal.fixsize.visible{top:10px;bottom:10px;height:auto !important;margin-top:0 !important}
#post-configure-new-practice-modal{height:150px;margin-top:-75px}
#post-configure-new-practice-modal.error{height:240px;margin-top:-120px}
.for-post-configure-new-practice-clock{margin-bottom: 15px}
#post-configure-new-practice-clock{display: inline-block;position:relative;top: 4px}
#try-again-body{display:none;background-color: #FFF;overflow: hidden}
.error #try-again-body{display:block}
.help-corner{position:absolute;top:10px;right:10px;width:25px;height:25px;line-height:25px;font-size:16px;font-weight: bold;text-align:center;display: block;cursor: pointer;color: #BBB;border-radius: 15px;transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s}
.help-corner:hover{background-color: #29F;color: #FFF}
.help-corner:active{background-color: #07D}

/* Welcome */
#welcome-modal{width:800px;height:340px;margin:-170px 0 0 -400px}
#welcome-modal .sml{font-size: 18px;line-height: 1.6em}

/* RESULTS */
#results-modal .modal-body {left: 40px;right: 40px}
#results-modal .reference{border-bottom: solid 1px #DDD;padding-bottom:5px}
#results-modal .result-list-frame{position: absolute;top:70px;bottom: 79px;left:0;right:0;overflow: auto; padding-right:20px}
#results-modal .for-btn{position: absolute;bottom: 5px;left:0;right:0;border-top: solid 1px #DDD;padding-top:8px}
#result-list .no-sketches{position:absolute;top:50%;left:0;right:0;height:100px;line-height: 100px;font-size:50px;text-align: center;margin-top: -50px;color:#999}
#result-list canvas{display:block; float:left; border:solid 1px #CCC;box-shadow: 0 2px 4px rgba(0,0,0,.3);margin:0 15px 15px 0;background-color: #FFF;transition: box-shadow .3s;-webkit-transition: box-shadow .3s;-moz-transition: box-shadow .3s;	cursor: pointer;cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in}
#result-list canvas:hover{box-shadow: 0 2px 4px #29F}
#result-image-container{display:none;position: absolute;top: 0;left:0;right:0;bottom:0;border-radius: 20px;background-color: #FFF;text-align:center}
#result-image-container .modal-body{bottom:116px}
#result-image-container img{display: inline-block;border:solid 1px #CCC; width:auto;height:auto;max-width:99%;box-shadow: 0 2px 4px rgba(0,0,0,.3)}
#result-image-container .reference{border:none;display: block}
#result-image-container .for-btn{bottom: 20px;left:40px;right:40px}
#post-results{height: 180px;margin-top: -90px}
#stop-modal{height: 250px;margin: -125px 0 0 -400px;width: 800px}
#post-results-modal{height: 250px;margin-top: -125px}

/* Preferences */
#preferences-modal{width:700px;height: 400px;margin: -200px 0 0 -350px}
#preferences-modal .modal-body{bottom:100px}
.bottom-preferences{position: absolute;bottom: 30px;left: 60px;right: 60px;margin: 0}

/* Help */
#help-modal .modal-body{bottom:100px;left:260px;border-left:solid 1px #BBB}
.bottom-help{position: absolute;bottom: 30px;left: 60px;right: 60px;margin: 0}
.help-menu{position: absolute;top:30px;bottom: 100px;left:60px;width:170px;font-size: 18px;line-height: 2em}
.help-menu li{cursor: pointer;display: block;padding:0 10px;border-radius:4px;color:#999;transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s}
.help-menu li.current{color: #29F}
.help-menu li:hover{background-color: #DEF;color: #333}
.help-section{display:none;position: absolute;top:0;left:0;padding-left:30px;right:0}
.help-section.current{display:block}
.help-section p{font-size: 18px;line-height: 1.6em;margin-bottom: 1em}
.help-section p.for-link-help{font-size: 18px;line-height: 2em;margin:0;border-top: solid 1px #CCC}
.link-help{display:block;min-width:150px;position:relative}
.link-help.prev{float: left;padding-left: 14px}
.link-help.next{float: right;padding-right: 14px;text-align: right}
.link-help:after{position: absolute;top:13px;left:0;content:'';width:0;height: 0;border-width:6px 8px 6px 0; border-style:solid;border-color: transparent #29F transparent transparent}
.link-help.next:after{right:0;left:auto;border-color: transparent transparent transparent #29F;border-width:6px 0 6px 8px;}
.hk-col{float:left;width:48%;padding-left:2%;font-size: 18px;line-height: 2em;margin-bottom: 30px}
.hk-col:first-child{padding-left:0;padding-right:2%}
.hk-col table{text-align: center; width: 100%;border-top:solid 1px #DDD;border-left:solid 1px #DDD}
.hk-col th,.hk-col td{border-bottom:solid 1px #DDD;border-right:solid 1px #DDD}
.hk-col th{background-color: #DEF}
.img-layout{width:auto;height:auto;max-width: 100%}
.about-col{float: left}
.col-left{width:50%}
.col-right{width:45%;padding-left:5%}
.about-col img{max-width: 100%;width:auto;height: auto}
.about-col p{font-size:15px;line-height: 1.5em;margin-bottom: 1em}
.donate{margin: 25px 0 30px}
p.about-info{font-size: 12px;line-height: 1.5em;margin-bottom: 1em;text-align: center}
/* TOOLS */
.tools{position:absolute;top:0;left:0;}
.tools .title{position: absolute;width:120px;font-size: 14px;line-height: 18px;padding:0 10px;background-color: rgba(255,255,255,.8);border-radius: 10px;opacity: 0;transition: opacity .2s;-webkit-transition: opacity .2s;-moz-transition: opacity .2s}

/* Photo Section Tools */
#photo-section .tools{z-index:110;right:0;height:34px;padding:3px;background-color: #CCC;border-bottom: solid 1px #EEE;box-shadow: inset 0 -2px 4px rgba(0,0,0,0.05);text-align: center;opacity: 1;transition: opacity .3s;-webkit-transition: opacity .3s;-moz-transition: opacity .3s}
#photo-section .tools canvas{display: inline-block;cursor:pointer}
#photo-section .tools canvas#clock-canvas{cursor:default}
#photo-section .tools .title{top:-60px;left:50%;width:190px;margin-left:-105px;text-align:center;box-shadow:0 2px 3px rgba(0,0,0,.3);opacity: 0;background-color: #FFF}
#photo-section .tools #player-canvas:hover + .title{top:45px;opacity: 1}

/* Paint Section Tools */
#paint-section .tools{z-index:210;bottom:0;width:50px}
#paint-section .tools .tool{position:relative;width:50px;height:50px}
#paint-section .tools .tool.tool-icon{background: url('../img/sprite.png') no-repeat;cursor:pointer;opacity: .3;transition: opacity .2s;-webkit-transition: opacity .2s;-moz-transition: opacity .2s}
#paint-section .tools .tool.tool-icon.pencil{background-position: 0 0}
#paint-section .tools .tool.tool-icon.eraser{background-position: 0 -50px}
#paint-section .tools .tool.tool-icon.oil{background-position: 0 -100px}
#paint-section .tools .tool.tool-icon.watercolor{background-position: 0 -150px}
#paint-section .tools .tool.tool-icon.airbrush{background-position: 0 -200px}
#paint-section .tools .tool.tool-icon.blender{background-position: 0 -250px}
#paint-section .tools .tool.tool-icon.picker{background-position: 0 -300px}
#paint-section .tools .tool.tool-icon:hover{opacity: 1}
#paint-section .tools .tool.tool-icon.current{opacity: 1;cursor:default}
#paint-section .tools .tool .title{top:16px;left:-200px}
#paint-section .tools .tool:hover .title{left:55px;opacity: 1}
#paint-section.hide-tool .tools{opacity: .2}
#paint-section.hide-tool .tools .tool.tool-icon:hover,
#paint-section.hide-tool .tools .tool.tool-icon.current{opacity: .3;cursor:crosshair}
#paint-section.hide-tool .tools .tool:hover .title{left:-200px;opacity: 0}

/* Color Tool */
.color-sample{display:block;position: absolute;width:25px;height:25px;border:solid 1px #333;box-shadow: 0 0 0 1px rgba(255,255,255,.8);cursor: pointer}
#paint-section.hide-tool .color-sample{cursor:crosshair}
#foreground-color-sample{top:5px;left:5px;background-color: #F00}
#background-color-sample{top:15px;left:15px;background-color: #49F}
.color-ctrl{position: absolute;top:-62px;left:-300px;width:170px;padding:11px;background-color: #FFF;border: solid 1px #CCC;box-shadow: 0 3px 8px rgba(0,0,0,.4);opacity: 0;transition:opacity .2s;-moz-transition:opacity .2s;-webkit-transition:opacity .2s}
.open .color-ctrl{top:-62px;left:38px;opacity: 1}
.open.for-background .color-ctrl{top:-52px;left:48px}
.color-ctrl .triangle,.color-ctrl .triangle div{position:absolute;top:70px;left:-21px;width:0;height:0;border-width: 10px;border-style: solid;border-color: transparent #CCC transparent transparent}
.color-ctrl .triangle div{top:-10px;left:-8px;border-color: transparent #FFF transparent transparent}
.color-cnv-container{position: relative;height:140px}
.color-cnv-container canvas{position:absolute;border: solid 1px #CCC;top:0;left:0}
.color-cnv-container #color-cnv-gradient-hue{left:150px}
.color-cnv-container span{position:absolute}
#color-sat-val-cursor,#color-hue-cursor{position: absolute;display: block;border:solid 1px #333;box-shadow:0 0 2px 1px #FFF}
#color-sat-val-cursor{width:5px;height:5px;top:40px;left:36px;margin:-3px 0 0 -3px;border-radius:4px}
#color-hue-cursor{left:151px;width:20px;height:1px;top:40px;border-width:1px 0}

/* Picker Tool */
#picker-sample{position:absolute;display:none;z-index: 280;width:30px;height:30px;margin:-60px 0 0 -16px;border:solid 1px #333;box-shadow: 0 2px 4px rgba(0,0,0,.4)}
/* BTN */
.btn{position:relative;display: inline-block;background-color:#29f;line-height: 2em;color:#FFF;min-width:120px;text-align:center;padding:0 15px;margin:0 10px;border-radius: 15px;cursor: pointer;transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s}
.btn:hover{background-color:#18E;box-shadow: 0 0 0 5px #ADF}
.btn:active{background-color:#06C}
.btn.secondary{background-color:#CCC;}
.btn.secondary:hover{background-color:#999;}
.btn.secondary:active{background-color:#777;}
.btn.disable{opacity:.5;cursor:default;}
.btn.disable:hover{background-color:#29f;box-shadow: none}
.btn.secondary.disable:hover{background-color:#CCC;}

/* Dropdown */
.dropdown{position:relative;display: inline-block;color:#29f;border: solid 1px #29f;padding:0 40px 0 10px;border-radius: 15px;cursor: pointer;	transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s}
.dropdown:before{content: '';width:0;height:0;border-width: 12px 10px;border-color: #29f transparent transparent transparent;border-style: solid;position: absolute;right:10px;top:17px}
.dropdown .dropdown-list{display:none;z-index:4000;position: absolute;top:42px;left:-1px;background-color: #FFF;color:#444;width:250px;box-shadow: 0 2px 10px rgba(0,0,0,.5);border: solid 1px #29f;border-radius: 0 0 15px 15px;padding-bottom: 15px}
.dropdown .dropdown-list-option{position: relative;display: block;padding:0 10px 0 30px;border-width: 1px;border-color: transparent;border-style: solid}
.dropdown .dropdown-list-option.current{background-color: #DEF;border-color: #CDF transparent}
.dropdown .dropdown-list-option.current:before{content: '';width:10px;height:10px;margin-top:-5px;border-radius: 7px;position: absolute;top:50%;left:11px;background-color: #29f}
.dropdown .dropdown-list-option:hover{background-color: #666;color:#FFF}
.dropdown .dropdown-list-option.current:hover:before{background-color: #FFF}
.dropdown.open{border-radius: 15px 15px 0 0}
.dropdown.open,.dropdown:hover{background-color: #29f;color:#FFF}
.dropdown.open:before,.dropdown:hover:before{border-color: #FFF transparent transparent transparent}
.dropdown:hover{box-shadow: 0 0 0 5px #ADF}
.dropdown.open:hover{box-shadow: none}
.reference.to-tag{text-align:center;}

/* checkbox */
.checkbox{display:inline-block;width:20px;height:20px;border:solid 1px #BBB;box-shadow: inset 0 0 0 3px #FFF;border-radius: 3px;margin-right: 10px;cursor: pointer;background-color: #FFF}
.checkbox:hover,p:hover .checkbox{background-color: #BDE}
p.label-checkbox{cursor: pointer}
.checkbox.true,.checkbox:hover.true,p:hover .checkbox.true{background-color: #29F}
/* Categories */

.border-top-categories{}

.border-bottom-categories{
	position:absolute;bottom: 0;left: 0;right: 0;margin-bottom:5px 
}
#categories-container{position:absolute;top:145px;bottom: 80px;left: 0;right: 0;overflow-y: auto;overflow-x: hidden;}


#categories{position:relative;font-size: 14px;line-height: 28px;width:200px;margin:0 auto;
	transition: width .2s;-webkit-transition: width .2s;-moz-transition: width .2s;
}

#categories ul{position:absolute;top:0;left:0;display:block;width: 190px;padding:0 4px 0 0;color:#333;}

#categories > ul{top:23px}

#categories ul li{display:block;border-bottom: solid 1px #CCC;padding:2px 0}
#categories ul li:first-child{border-top: solid 1px #CCC;}

#categories ul li span{position:relative;display: block;cursor: pointer;padding:0 10px;
	transition: all .1s;-webkit-transition: all .1s;-moz-transition: all .1s;
}

#categories ul li ul{padding:0 4px;border-left: solid 1px #CCC;left:200px;visibility: hidden;opacity:0;z-index:3000;
	transition: opacity .2s;-webkit-transition: opacity .2s;-moz-transition: opacity .2s;
}
#categories > ul > li > ul{left:196px;}

#categories ul li.active > ul{visibility: visible;opacity:1;z-index:3001;}

#categories ul li span:hover{background-color: #DEF;color:#333;}

#categories ul li.active > span,
#categories ul li.active > span:hover{background-color: #29F;color:#FFF;}
#categories ul li.view-all.active > span,
#categories ul li.view-all.active > span:hover{background-color: #BBB;color:#FFF;}

#categories ul li.with-child.active > span:after{position:absolute;content: '';display: block;width:0;height:0;border-style: solid;border-width:5px 8px;

	border-color: transparent transparent transparent #FFF;top:50%;right:0;margin-top: -5px;
}

/* Menu */
#main-menu{z-index:215;position: absolute;top:0;right:0;width:50px;height: 50px;cursor:pointer;text-align: center}
#main-menu-trigger{position: absolute;top:0;right:0;left:0;bottom: 0;padding-top: 8px}
#photo-section .tools #main-menu-trigger {padding-top: 3px}
#main-menu span.line{display:block;height:10px;margin:10px 5px 0;background-color: #BBB;height: 6px;margin: 4px 12px 0;border-radius: 2px;
box-shadow: 0 1px 1px rgba(0,0,0,.2) inset;transition: background-color .3s;-webkit-transition: background-color .3s;-moz-transition: background-color .3s}
#photo-section .tools #main-menu span.line{background-color: #FFF;box-shadow: 0 1px 1px rgba(0,0,0,.2)}
#main-menu:hover span.line,#photo-section .tools #main-menu:hover span.line,#main-menu.open span.line,#photo-section .tools #main-menu.open span.line{background-color: #29F}
#main-menu ul{display:block;position:absolute;top:-900px;right:50px;width:200px;background-color:#FFF;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	line-height: 2em;border:solid 1px #CCC;opacity:0;border-radius: 10px;transition: opacity .2s;-webkit-transition: opacity .2s;-moz-transition: opacity .2s}
#main-menu.open ul{top:8px;opacity:1}
#main-menu ul .triangle,#main-menu ul .triangle span{border-style: solid;border-width: 8px 10px;height: 0;position: absolute;right: -20px;top: 10px;width: 0;border-color: transparent transparent transparent #CECECE}
#main-menu ul .triangle span{border-width: 6px 8px;right: -6px;top: -6px;border-color: transparent transparent transparent #FFF}
#main-menu ul li{display:block;padding: 0 20px}
#main-menu ul li:hover{background-color: #29F;color:#FFF;transition: all .2s;-webkit-transition: all .2s;-moz-transition: all .2s}
#main-menu ul li:first-child{border-radius: 10px 10px 0 0}
#main-menu ul li:last-child{border-radius: 0 0 10px 10px}
#paint-section.hide-menu #main-menu{opacity: .2;cursor: crosshair}
#paint-section.hide-menu #main-menu:hover span.line{background-color: #BBB}
#share-tool{position: absolute;width:24px;height:200px;top:50px;right:15px;}
.at300b{margin-bottom:5px;}
.icon-share{display: block;width:24px;height:24px;background: #CCC url('../img/share.png') no-repeat}
.icon-share-facebook{background-position: 2px 4px}
.icon-share-facebook:hover{background-color: #3b5998}
.icon-share-twitter{background-position: 4px -20px}
.icon-share-twitter:hover{background-color: #1ab2e8}
.icon-share-google{background-position: 4px -44px}
.icon-share-google:hover{background-color: #cb3b2a}
#paint-section.hide-menu .icon-share:hover{background-color: #CCC !important;}
#paint-section.hide-menu #share-tool,#paint-section.hide-menu #share-tool a:hover{cursor:crosshair !important;}

/* Tablet Landscape */
@media only screen and (max-width: 1260px) {
	body{font-size: 22px;line-height:1.4em}
	.modal {margin-left:-460px;width: 920px}
	.modal-body {bottom: 20px;left: 40px;right: 40px;top: 20px}
	.dropdown:before {border-width: 10px 8px;top: 12px;}
	.dropdown .dropdown-list {top: 31px;width: 200px;}
	#post-results-modal {height: 200px;margin-top: -100px}
	#stop-modal {height: 200px;margin: -100px 0 0 -350px;width: 700px}
	#photo-section {min-width: 0;width: 380px}
	#paint-section {left: 380px}
	.left-handed #paint-section {left: 0;right: 380px}
}
/* Tablet Portrait */
@media only screen and (max-width: 1000px) {
	.modal {margin-left:-360px;width: 720px}
	#welcome-modal {margin-left:-360px;width: 720px}
	#photo-section {width: 320px;}
	#paint-section {left: 320px}
	.left-handed #paint-section {left: 0;right: 320px}
	.photo-container .photo-info {font-size: 11px;padding: 0}
	.help-menu {font-size: 16px;left: 30px;line-height: 2em;top: 20px;width: 120px}
	.help-section p {font-size: 14px;line-height: 1.6em;margin-bottom: 1em}
	#help-modal .modal-body {left: 180px}
	.hk-col {font-size: 14px;line-height: 2em}
	.about-col {float: none}
	.col-left {margin: 0 auto;width: 35%}
	.col-right {padding-left: 0;width: 100%}	
}